body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.dad {
    position: relative;
}

.main-header {
    height: 100%;
    width: 30%;
    position: fixed;
    top: 0;
    left: 0;
}

.main-content {
    position: absolute;
    left: 30%;
    top: 0;
}