body {
    color: #565656;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

a{
    color: #49bf9d;
    display: inline-block;
    text-decoration: none;
    margin: 25px 0;
}

p{
    margin: 0 0 2em;
}

img{
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    margin: 1em 0;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 15px;
}

.dad {
    height: 100vh;
    position: relative;
}

.main-header {
    background-image: url("../images/overlay.png"), url("../images/bg.jpg");
    background-position: left top;
    box-sizing: border-box;
    color: #eee;
    text-align: right;
    height: 100%;
    width: 35%;
    left: 0;
    top: 0;
    position: fixed;
    padding: 1%;
}

.main-header img {
    background-color: #fff;
    border-radius: 50%;
    margin: 200px 10px 0 0;
}

.main-header-title{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.575);
}

.main-header-title strong{
    color: white;
}

.main-content {
    left: 35%;
    top: 0;
    margin: 3%;
    position: absolute;
}

.main-content-section {
    clear: both;
    margin: 5% 0;
}

.main-content-section a {
    display: inline-block;
}

.card-dad {
    overflow: auto;
}

.card {
    float: left;
    width: 45%;
}

.card:nth-child(2n){
    margin-left: 10%;
}

.card-img img{
    border-radius: 5px;
    width: 100%;
}

.main-form {
    margin-right: 2%;
    width: 58%;
}

.border-box {
    box-sizing: border-box;
}

.quarenta-por100 {
    width: 40%;
}

.cinquenta-por100 {
    width: 49%;
    margin-right: 1%;
}

.cinquenta-por100 label{
    display: inline-block;
    width: 100%;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clear {
    clear: both;
}

.button-default {
    background-color: #49bf9d;
    border: 1px solid #49bf9d;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    padding: 10px 15px;
    transition: all .3s ease;
}

.button-default:hover {
    background-color: #fff;
    color: #49bf9d;
}
