body {
    color: #565656;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

a{
    color: #49bf9d;
    display: inline-block;
    text-decoration: none;
    margin: 25px 0;
}

p{
    margin: 0 0 2em;
}

img{
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    margin: 1em 0;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 15px;
}

label {
    margin-top: 10px;
}

ul, ol {
    margin: 0;
    padding: 0;
    padding-left: 1.1em;
}

.inline-block {
    display: inline-block;
}

.dad {
    height: 100vh;
    position: relative;
}

.main-header {
    background-image: url("../images/overlay.png"), url("../images/bg.jpg");
    background-position: left top;
    box-sizing: border-box;
    color: #eee;
    text-align: right;
    height: 100%;
    width: 35%;
    left: 0;
    top: 0;
    position: fixed;
    padding: 1%;
}

.main-header img {
    background-color: #fff;
    border-radius: 50%;
    margin: 200px 10px 0 0;
}

.main-header-title{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.575);
}

.main-header-title strong{
    color: white;
}

.main-content {
    left: 35%;
    top: 0;
    margin: 3%;
    position: absolute;
}

.main-content-section {
    clear: both;
    margin: 100px 0;
}

.main-content-section a {
    display: inline-block;
}

.card-dad {
    overflow: auto;
}

.card {
    float: left;
    width: 45%;
    z-index: 1;
}

.card-img {
    position: relative;
    height: 258.94px;
}

.card:nth-child(2n){
    margin-left: 10%;
}

.card-img img{
    border-radius: 5px;
    width: 100%;
}

.card-img::after {
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    content: "";
    position: absolute;
    top:300px;
    right:0;
    bottom:0px;
    left:0;
    transition: ease .3s;
}

.card-img:hover::after {
    background-color: rgba(73, 191, 158, 0.671);
    top: 0;
}

.main-form {
    margin-right: 2%;
    width: 68%;
}

.border-box {
    box-sizing: border-box;
}

.trinta-por100 {
    width: 30%;
}

.cinquenta-por100 {
    width: 50%;
}

.cinquenta-por100 label, .cinquenta-por100 input{
    display: inline-block;
    width: 90%;
}

.cem-por100 {
    width: 100%;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clear {
    clear: both;
}

textarea {
    resize: none;
    height: 150px;
    width: 95.3%;
}

input, textarea {
    background-color: #ccc;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
}

input:focus, textarea:focus {
    border: 2px solid #49bf9d;
    outline: none;
}

.form-button {
    margin-top: 30px;
}

blockquote {
    border-left: 5px solid #efefef;
    margin: 100px 0 100px 10px;
    padding: 5px 0 0 20px;
}

.overflow {
    overflow: auto;
}

.alternate-list {
    list-style-type: none;
    padding: 0;
}

.alternate-list li{
    border-bottom: 2px solid #cdcdcd;
    box-sizing: border-box;
    padding: 2px;
    transition: .2s ease;
}

.alternate-list li:hover{
    background-color: rgba(73, 191, 158, 0.671);
    color: #fff;
}

.alternate-list li:last-child {
    border: none;
}

.icons {
    color: #49bf9d;
    letter-spacing: 5px;
    font-size: 30px;
}

.table {
    box-sizing: border-box;
    border-collapse: collapse;
    margin: auto;
    text-align: left;
    width: 100%;
}

.table thead {
    background-color: #ccc;
}

.table td, .table th {    
    padding: 10px;
    transition: ease .3s;
}

.table tbody tr:first-child td{    
    border-top: 2px solid #333;
}

.table tbody tr:last-child td{    
    border-bottom: 2px solid #333;
}

.table tbody tr:nth-child(even) td{
    background-color: #eee;   
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.table tbody tr:hover td{
    background-color: rgba(73, 191, 158, 0.671);
    color: white;
}

.table-alternate thead, .table-alternate tbody td, .table-alternate tbody tr:first-child td, .table-alternate tbody tr:last-child td{
    border: 1px solid #ddd;
}

.button-default {
    background-color: #49bf9d;
    border: 1px solid #49bf9d;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    padding: 10px 15px;
    transition: all .3s ease;
}

.button-default:hover {
    background-color: #fff;
    color: #49bf9d;
}

.button-default-stroke {
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 0 2px 1px #888888;
    color: #555;
}

.button-default-small {
    font-size: .65em;
}

.button-default-full {
    display: block;
    margin-bottom: 10px;
}